<form method="post" action="/beers/create">

	<input type="hidden" value="{{ beer.id }}" name="id" > 

	<label for="name"> Name </label>
	<input type="text" value="" name="name" id="name">

	<label for="alcool"> % Alcool </label>
	<input type="text" value="" name="alcool" id="alcool">

	<label for="country"> Country </label>
    <input type="text" value="" name="country" id="country">

	<label for="description"> Description </label>

    <textarea name="description" id="description">description</textarea>   

	<input type="submit" value="Valider">

</form>